body {
  background-color: rgb(255, 255, 255);
  font-family: "EB Garamond", serif;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

/* Navbar and its properities */
header {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px, 100px;
  z-index: 100000;
  opacity: 0;
  border-bottom: 1px solid green;
}

header.sticky {
  padding: 5px, 100px;
  background-color: white;
}

header.sticky ul li a {
  color: black;
  font-weight: 500;
}

header .logo {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 0.6s;
  margin-left: 50px;
}

.nav--ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.nav--li {
  position: relative;
  list-style: none;
}

.nav--li a {
  font-size: 22px;
  position: relative;
  margin: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6;
}

#logout {
  font-size: 28px;
  font-weight: 600;
  color: rgb(211, 40, 245);
  list-style: none;
  transition: 500ms;
}

#logout:hover {
  cursor: pointer;
  color: rgb(135, 0, 168);
}

/* Heading and its animation */

.headingOne {
  font-size: 150px;
  letter-spacing: 5px;
  text-align: center;
  color: rgb(9, 179, 74);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.heading--section {
  background-color: white;
  background-image: url(https://dw9to29mmj727.cloudfront.net/promo/2016/5336-SeriesHeaders_Tier01_Magic_2000x800.jpg);
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Container for cards */

.container {
  position: relative;
  top: -130px;
  border-radius: 10px;
  padding-top: 15px;
  height: 0vh;
  opacity: 0;
  overflow: auto;
  width: 98%;
  border: 3px solid rgb(139, 139, 139);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: white;
  transition: 1s;
}

/* Search divs and buttons inside them */
.search--div {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnSearch {
  width: 150px;
  height: 25px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin: 20px;
  position: relative;
  top: 15px;
  background-color: black;
  color: white;
}

.btnSearch:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

/* About heading */

.aboutHeading {
  font-size: 50px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* Sections in order */

.section--2 {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  opacity: 0;
  transition: 0.4s;
  position: relative;
  top: -150px;
  left: -100%;
}

.section--3 {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;

  /* background-image: url(https://i.pinimg.com/originals/67/36/92/673692cc66ae5e721b0b58edfe2db571.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; */
  height: 100vh;
}

.footer--one {
  background-image: url(https://i.pinimg.com/originals/67/36/92/673692cc66ae5e721b0b58edfe2db571.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cards */
.card {
  border-radius: 5px;
  width: 230px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 500ms;
  margin-bottom: 20px;
}

.card:hover {
  cursor: pointer;
}

/* Class for cards that have no images  */
.card--noImage {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/61AGZ37D7eL._AC_SL1039_.jpg);
  background-position: center;
  background-size: cover;
  height: 310px;
  width: 230px;
}

/* Text for card with no images */
.card--noImageText {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  width: 230px;
  position: relative;
  top: 115px;
  margin: 0;
}

/* --------------- */
/* Return to top icon */

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  padding: 0.25rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: url(https://cdn.onlinewebfonts.com/svg/img_121556.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: 1s;
}

.back-to-top-link:hover {
  background-color: rgb(9, 179, 74);
}
/* Show buttons, show all and show favorite cards */

.showBtns {
  width: 150px;
  height: 25px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin: 20px;
  background-color: black;
  color: white;
}

.showBtns:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

/* Class for images(cards ) and buttons for them*/
.image {
  height: 300px;
}
.del {
  position: relative;
  left: -100px;
  top: -300px;
}
.favorite {
  position: relative;
  left: -56px;
  top: -321px;
}
.show {
  margin-top: 25px;
}

/* Buttons for no image cards when creating them inside of create card function I have to make them 2 times because they were acting weird in favorite mode or in seeach mode*/
.no--image--delOne {
  position: relative;
  top: -268px;
  left: -105px;
}

.no--image--favOne {
  position: relative;
  top: -289px;
  left: -61px;
}
.no--image--del {
  position: relative;
  top: -290px;
  left: -105px;
}

/* ************ */

/* Testimonials */
.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border: 1px solid red;

  width: 40%;
}

/* --------------------------------------------------- */

.hidden {
  display: none;
  transition: 500ms;
}

.about--text {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: -15px;
  text-align: center;
  font-size: 26px;
  width: 70%;
  padding: 5px;
  color: rgb(9, 179, 74);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-weight: 700;
  font-style: italic;
}
.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------------------------------- */
/* Modal for create new account */

#myModalCreate {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: 500ms;
  opacity: 0;
}

/* Modal Content */
.modal-content {
  font-size: 20px;
  position: relative;
  top: 100px;
  background-color: #000000;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 300px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(165, 165, 165, 0.2),
    0 6px 20px 0 rgba(155, 155, 155, 0.19);
  /* background-image: url(https://ae01.alicdn.com/kf/HTB14PrpoCtYBeNjSspaq6yOOFXat/Five-Manas-Symbols-Magic-Play-mat-Board-cards-Games-big-mousepad-Table-Pad-Custom-ccg-ygo.jpg);
  background-position: center;
  background-size: cover; */
}

/* Create acc div in modal */
.createAcc--div {
  position: relative;
  top: -10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 1px;
}

.create--btn {
  width: 200px;
  position: relative;
  top: 20px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  background-color: black;
  color: white;
  opacity: 1;
}

.create--btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* The Close Button for create acc modal */
.close {
  color: rgb(255, 255, 255);
  position: relative;
  left: 130px;
  font-size: 40px;
  font-weight: 700;
}

.close:hover,
.close:focus {
  color: rgb(156, 156, 156);
  text-decoration: none;
  cursor: pointer;
}

/* Modal for login */

#myModalLogin {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  opacity: 0;
  transition: 500ms;
}

/* Modal Content */
.modal-login {
  font-size: 20px;
  position: relative;
  top: 100px;
  background-color: #000000;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 300px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(165, 165, 165, 0.2),
    0 6px 20px 0 rgba(155, 155, 155, 0.19);
  /* background-image: url(https://ae01.alicdn.com/kf/HTB14PrpoCtYBeNjSspaq6yOOFXat/Five-Manas-Symbols-Magic-Play-mat-Board-cards-Games-big-mousepad-Table-Pad-Custom-ccg-ygo.jpg);
  background-position: center;
  background-size: cover; */
}

.login--div {
  position: relative;
  top: -10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 1px;
}

.login--btn {
  width: 200px;
  position: relative;
  top: 20px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  background-color: black;
  color: white;
  opacity: 1;
}

.login--btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* The Close Button for login modal */
.closeLogin {
  color: rgb(255, 255, 255);
  position: relative;
  left: 130px;
  font-size: 40px;
  font-weight: 700;
}

.closeLogin:hover,
.closeLogin:focus {
  color: rgb(129, 129, 129);
  text-decoration: none;
  cursor: pointer;
}

/* Modal open buttons */

/* .modalBtnCreate .modalBtnLogin {
  position: relative;
  left: 0%;
} */

.welcomeMsg {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  right: 100%;
  top: -180px;
  transition: 600ms;
  color: rgb(253, 1, 1);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.btnModal {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin-top: 25px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: relative;
  top: -120px;
  left: 0;
}
.btnModal2 {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin-top: 25px;
  background-color: black;
  color: white;
  position: relative;
  top: -80px;
  left: 0;
}

.btnModal:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.btnModal2:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
  }
  header .logo {
    margin: 0;
    display: none;
  }
  .nav--ul {
    margin-right: 0;
    padding: 0;
  }

  .nav--li {
    margin-left: 10px;
  }

  .headingOne {
    font-size: 110px;
    letter-spacing: 5px;
  }
}

@media (max-width: 570px) {
  .headingOne {
    font-size: 90px;
    letter-spacing: 0;
    position: relative;
    top: -50px;
  }
  .section--2 {
    flex-direction: column;
    margin-bottom: 50px;
    top: -100px;
  }
  .search--div {
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .searchByName {
    position: relative;
    top: -55px;
  }

  .showBtns {
    margin: 5px;
  }
  .searchBtnsAll {
    position: relative;
    top: -50px;
  }

  .searchByRarity {
    position: relative;
    top: -25px;
  }
  .searchOptionBtn {
    top: -50px;
  }
  .modalBtnLogin {
    top: -100px;
  }
  .modalBtnCreate {
    top: 25px;
  }

  .btnSearch {
    position: relative;
    top: -10px;
  }
  .modal-content {
    width: 260px;
  }
  .modal-login {
    width: 260px;
  }
  .closeLogin {
    left: 110px;
  }
  .close {
    left: 110px;
  }
  .section--1 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .text {
    width: 100%;
  }
  .about {
    width: 100%;
    font-size: 18px;
    padding: 5px;
  }
  .aboutImages {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .headingOne {
    font-size: 70px;
  }
}

@media (max-width: 350px) {
  .headingOne {
    font-size: 60px;
  }
}
