body {
  background-color: rgb(255, 255, 255);
  font-family: "EB Garamond", serif;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  overflow-x: hidden;
  background-position: center;
  background-image: url(https://cdn.hipwallpaper.com/i/1/29/BHXVTP.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 510vh;
}

/* Navbar and its properities */
header {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px, 100px;
  z-index: 100000;
  opacity: 0;
}

header.sticky {
  padding: 5px, 100px;
  background-color: white;
}

header.sticky ul li a {
  color: black;
  font-weight: 500;
}

header .logo {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
  transition: 0.6s;
  margin-left: 50px;
}

.nav--ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.nav--li {
  position: relative;
  list-style: none;
}

.nav--li a {
  font-size: 22px;
  position: relative;
  margin: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6;
}

#logout {
  font-size: 28px;
  font-weight: 600;
  color: rgb(211, 40, 245);
  list-style: none;
  transition: 500ms;
}

#logout:hover {
  cursor: pointer;
  color: rgb(135, 0, 168);
}

/* Divs with login, create inputs */

.createAcc--div {
  position: relative;
  top: -130px;
  display: flex;
  flex-direction: column;
  left: -100%;
  opacity: 0;
  transition: 200ms;
  font-size: 23px;
}

#search--set {
  border-radius: 10px;
}
#search--type {
  border-radius: 10px;
}
#createUsername {
  border-radius: 10px;
  outline: none;
}
#createPassword {
  border-radius: 10px;
  outline: none;
}
#search--set {
  width: 180px;
  height: 20px;
}
#search--type {
  width: 180px;
  height: 21px;
}
#username {
  border-radius: 10px;
  outline: none;
}
#password {
  border-radius: 10px;
  outline: none;
}

.login--div {
  transition: 200ms;
  position: relative;
  left: -100%;
  top: -280px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  font-size: 23px;
}

/* Heading  */

.headingOne {
  position: relative;
  top: 140px;
  opacity: 1;
  font-size: 220px;
  letter-spacing: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 3px rgb(0, 197, 247);
}

.heading--section {
  background-color: white;
  background-image: url(https://dw9to29mmj727.cloudfront.net/promo/2016/5336-SeriesHeaders_Tier01_Magic_2000x800.jpg);
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Container for cards */

.container {
  position: relative;
  top: -110px;
  border-radius: 10px;
  padding-top: 25px;
  height: 0vh;
  opacity: 0;
  /* overflow: auto; */
  overflow-y: visible;
  overflow-x: hidden;
  width: 98%;
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgb(0, 0, 0);
  background: linear-gradient(121deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  transition: 1s;
}

/* Search divs and buttons inside them */
.search--div {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 30px;
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-weight: 400;
}

.searchBtnsAll {
  top: 0;
}

.btnSearch {
  width: 150px;
  height: 25px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin: 20px;
  position: relative;
  top: 15px;
  background-color: black;
  color: white;
}

.btnSearch:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

/* Sections */

.section--2 {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  opacity: 0;
  transition: 0.4s;
  position: relative;
  top: -150px;
  left: -100%;
}

.section--3 {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
  width: 100%;

  height: 100vh;
}

/* Section 3 */
.footer--one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -245px;
  transition: 1s;
  opacity: 1;
  transform: skewY(-7deg);
  background-color: rgb(255, 255, 255);
  background-image: url(https://i.pinimg.com/originals/67/36/92/673692cc66ae5e721b0b58edfe2db571.jpg);
  background-size: cover;
  background-position: center;
  transition-timing-function: ease-out;
}

/* Cards */
.card {
  border-radius: 5px;
  width: 230px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 500ms;
  margin-bottom: 20px;
}

.card:hover {
  cursor: pointer;
}

/* Show buttons, show all and show favorite cards */

.showBtns {
  width: 150px;
  height: 25px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin: 20px;
  background-color: black;
  color: white;
}

.showBtns:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

/* Class for images(cards ) and buttons for them*/
.image {
  width: 230px;
  height: 300px;
  transition: 500ms;
}

.card {
  width: 230px;
  transition: 500ms;
  height: 300px;
  margin-bottom: 50px;
}

.card:hover {
  opacity: 1;
  transform: skewY(7deg);
}
.image:hover {
  opacity: 1;
  transform: skewY(3deg);
}

.del {
  position: relative;
  left: 96px;
  top: -303px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cardBtn {
  background-color: #000000;
  color: white;

  outline: none;
  transition: 500ms;
}

.cardBtn:hover {
  background-color: white;
  color: #000000;
  cursor: pointer;
}

.favorite {
  position: relative;
  left: 56px;
  top: -324px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.show {
  margin-top: 25px;
  position: relative;
  left: -200%;
  transition: 500ms;
  opacity: 0;
}

/* ************ */

/* First image and card in it */
.cardBackImg {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 319px;
  background-image: url(/imgs/2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 229px;
  transform: skewY(6.7deg);
  transition: 1s;
  -webkit-box-shadow: 0px 0px 10px 6px #ffffff;
  box-shadow: 0px 0px 10px 6px #ffffff;
  border: 1px solid silver;
  background-color: black;
  position: relative;
  top: 100px;
}

.cardTextAbout {
  position: relative;
  top: -170px;
  text-align: center;
  width: 50%;
  font-size: 22px;
  transform: skewY(0deg);
  opacity: 0;
  transition: 1s;
  color: #ffffff;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px;
}

.cardTextAbout:hover {
  cursor: pointer;
  opacity: 1;
  transform: skewY(7deg);
}

.cardBackImg:hover {
  cursor: pointer;
  position: relative;
  transform: rotateX(20deg);
  transform: rotateY(10deg);
  opacity: 0.8;
}

/* To top page link */
#topPage {
  position: relative;
  bottom: -200px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  transition: 1s;
}

#topPage:hover {
  letter-spacing: 1px;
  border-bottom: 1px solid blue;
}

/* --------------------------------------------------- */

/* Scrollbars */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(184, 184, 184, 0.658);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(87, 87, 87);
}

/* Class hidden for hiding objects */
.hidden {
  display: none;
}

/* Thank you message on the end and my name */

.thankYouMessage {
  position: relative;
  bottom: -360px;
  text-align: center;
  width: 40%;
  font-weight: 400;
  font-size: 21px;
  transition: 500ms;
  font-style: italic;
  color: #ffffff;
}

#mySing {
  position: relative;
  top: 10px;
  font-size: 26px;
  font-weight: 500;
  color: #000000;
  font-style: italic;
}
/* ----------------  */

.cardImageBig {
  position: relative;
  left: 122px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  outline: none;
  height: 25px;
  bottom: 15px;
  border: none;
  transition: 500ms;
  border: 1px solid silver;
}

.cardImageBig:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* ----------- */
/* Smooth scroll on page */

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Slider buttons */
.pageButtons {
  position: relative;
  top: -130px;
  left: -100%;
  width: 150px;
  height: 25px;
  border-radius: 15px;
  background-color: #000000;
  color: white;
  transition: 500ms;
  outline: none;
}

.pageButtons:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* ----------------------------- */

#cardsModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: 500ms;
  opacity: 0;
}

/* Modal Content */
.modal--cards {
  overflow: auto;
  overflow-x: hidden;
  font-size: 20px;
  position: relative;
  top: 100px;
  background-color: #000000ec;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 350px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(165, 165, 165, 0.2),
    0 6px 20px 0 rgba(155, 155, 155, 0.19);
}

.closeCardsModal {
  color: rgb(255, 255, 255);
  position: relative;
  right: -305px;
  top: -10px;
  font-size: 40px;
  font-weight: 700;
}

.closeCardsModal:hover,
.closeCardsModal:focus {
  color: rgb(156, 156, 156);
  text-decoration: none;
  cursor: pointer;
}

.paragrafCards {
  top: -50px;
  position: relative;
  text-align: center;
}
.cardType {
  color: rgb(0, 214, 64);
  font-size: 22px;
}
.cardName {
  color: red;
  font-size: 25px;
}
.cardSet {
  color: rgb(255, 255, 255);
}
.cardOriginalText {
  color: rgb(212, 212, 212);
  padding: 15px;
  font-size: 19px;
}
.cardRarity {
  color: yellow;
  font-size: 35px;
}

.cardArtist {
  font-style: italic;
  font-size: 17px;
  color: #3498db;
}

/* --------------------------------------------------------------------- */

.create--btn {
  width: 200px;
  position: relative;
  top: 20px;
  height: 25px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  background-color: black;
  color: white;
  opacity: 1;
}

.create--btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Modal for login */

.login--btn {
  width: 200px;
  position: relative;
  top: 20px;
  height: 25px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  background-color: black;
  color: white;
  opacity: 1;
}

.login--btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Welcome msg that slides in */
.welcomeMsg {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  right: 100%;
  top: -180px;
  transition: 600ms;
  color: rgb(253, 1, 1);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* !!!!!!!!! this I have to change !!!!!!!!!!!!!!!!! */
.btnModal {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin-top: 25px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: relative;
  top: 0px;
  left: 0;
}
.btnModal2 {
  width: 200px;
  height: 25px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin-top: 25px;
  background-color: black;
  color: white;
  position: relative;
  top: -50px;
  left: 0;
}

.btnModal:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.btnModal2:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Last big image section */
.section--4 {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  transition: 1s;
  opacity: 1;
  transform: skewY(7deg);
  background-color: rgb(255, 255, 255);
  background-image: url(https://images.wallpapersden.com/image/download/aurelia-magic-the-gathering_bGVqbWeUmZqaraWkpJRmbmdlrWZnZWU.jpg);
  background-size: cover;
  background-position: center;
}

.testimonials {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 319px;
  background-image: url(https://www.celjaded.com/wp-content/uploads/2017/11/CelJaded-Magic-The-Gathering-Card-Phyrexian-Obliterator.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 229px;
  transform: skewY(-7deg);
  transition: 1s;
  -webkit-box-shadow: 0px 0px 10px 6px #ffffff;
  box-shadow: 0px 0px 10px 6px #ffffff;
  /* background-color: rgb(0, 0, 0); */
  top: 0px;
  position: relative;
}

.testimonials:hover {
  cursor: pointer;
  position: relative;
  transform: rotateX(20deg);
  transform: rotateY(10deg);
  opacity: 0.5;
}

/* To page icon */
#topPageImg {
  color: white;
  width: 40px;
  height: 30px;
  position: relative;
  bottom: -50px;
  transition: 250ms;
}

/* Close inputs for login and create */
.close {
  position: relative;
  top: 20px;
  transition: 500ms;
}

.close:hover {
  color: silver;
  cursor: pointer;
}

/* Spinner wheel */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .cardTextAbout {
    width: 80%;
    font-size: 21px;
  }

  .thankYouMessage {
    width: 90%;
    font-size: 20px;
  }

  #logout {
    margin-left: 10px;
  }
  .welcomeMsg {
    font-size: 35px;
    text-align: center;
  }
  .searchOptionBtn {
    top: -20px;
  }

  header .logo {
    margin: 0;
    display: none;
  }
  .createAcc--div {
    top: -50px;
    width: 200px;
  }
  .login--div {
    top: -190px;
    width: 200px;
  }
  .nav--ul {
    margin-right: 0;
    padding: 0;
  }

  .nav--li {
    margin-left: 10px;
  }

  .headingOne {
    font-size: 190px;
    letter-spacing: 5px;
  }
}

@media (max-width: 570px) {
  .close {
    top: -50px;
  }
  body {
    background-image: url("https://hdwallpaperim.com/wp-content/uploads/2017/08/23/458367-Magic_The_Gathering-Trading_Card_Games-simple-minimalism-black_background-skull.jpg;");
  }
  #mySing {
    color: rgb(83, 83, 241);
    font-weight: 400;
  }
  .cardTextAbout {
    width: 100%;
    font-size: 19px;
  }

  .thankYouMessage {
    width: 100%;
    font-size: 19px;
  }
  .pageButtons {
    top: -20px;
  }

  .container {
    top: 0px;
  }
  .headingOne {
    font-size: 150px;
    letter-spacing: 0;
    position: relative;
    top: 100px;
  }

  .section--2 {
    flex-direction: column;
    margin-bottom: 50px;
    top: 25px;
  }
  .search--div {
    color: #ffffff;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .searchByName {
    position: relative;
    top: -55px;
  }

  .showBtns {
    margin: 5px;
  }
  .searchBtnsAll {
    position: relative;
    top: -50px;
  }

  .searchByRarity {
    position: relative;
    top: -25px;
  }
  .searchOptionBtn {
    top: 20px;
  }
  .modalBtnLogin {
    top: -100px;
  }
  .modalBtnCreate {
    top: 25px;
  }

  .btnSearch {
    position: relative;
    top: -10px;
  }
  .modal-content {
    width: 260px;
  }
  .modal-login {
    width: 260px;
  }
  .closeLogin {
    left: 110px;
  }
  .footer--one {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .close {
    left: 110px;
  }

  .btnModal {
    top: 150px;
  }
}

@media (max-width: 430px) {
  #topPageImg {
    top: 100px;
  }
  .heading--section {
    background-size: cover;
  }
  .welcomeMsg {
    font-size: 28px;
  }
  .nav--li {
    margin-left: 0px;
  }
  #logout {
    position: relative;
    right: 10px;
    margin-right: 5px;
  }
  .modal-about {
    height: 350px;
  }
  .headingOne {
    font-size: 130px;
  }
}

@media (max-width: 350px) {
  .cardTextAbout {
    width: 100%;
    font-size: 17px;
  }
  .headingOne {
    font-size: 100px;
  }
  #topPageImg {
    top: 30px;
  }
}
