body {
  background-color: rgb(255, 255, 255);
  font-family: "EB Garamond", serif;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  overflow-x: hidden;
  background-position: center;
  background-image: url(https://picfiles.alphacoders.com/494/49453.jpg);
  /* background-image: url(https://cdn.hipwallpaper.com/i/1/29/BHXVTP.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 485vh;
}
/* Navbar and its properities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  background-color: #ffffff;
  z-index: 100000;
  color: #000000;
}

.logo {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.nav-links li {
  font-weight: 500;
  list-style: none;
  font-size: 25px;
  color: rgb(97, 0, 136);
}
#aboutLink {
  color: rgba(255, 30, 0, 0.815);
}
.redCl {
  color: rgb(0, 132, 255);
}
.nav-links a {
  color: rgb(0, 132, 255);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 25px;
  transition: 500ms;
}
#logoutImg {
  position: relative;
  top: 5px;
  width: 60%;
  transition: 500ms;
}

#logoutImg:hover {
  transform: rotateY(35deg);
}

#logout {
  font-weight: bold;
  width: 10%;
}
#logout:hover {
  cursor: pointer;
  color: #5d4954;
}
.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 132, 255);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 60px;
    background-color: #ffffffb9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Divs with login, create inputs */

.createAcc--div {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: column;
  left: -100%;
  opacity: 0;
  transition: 400ms;
  font-size: 28px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-weight: 500;
}
.close {
  color: white;
}

.left-side {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -30px;
}
.right-side {
  position: relative;
  right: -30px;
}
.searchByName {
  top: 0;
}
.searchBySet {
  top: 0;
}
.searchByRarity {
  top: 0;
}

#search--name {
  border-radius: 10px;
}
#search--colors {
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  width: 180px;
}

#search--set {
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

#search--type {
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
}
#createUsername {
  border-radius: 10px;
  outline: none;
}
#createPassword {
  border-radius: 10px;
  outline: none;
}
#search--set {
  width: 180px;
  height: 20px;
}
#search--type {
  width: 180px;
  height: 21px;
}
#username {
  border-radius: 10px;
  outline: none;
}
#password {
  border-radius: 10px;
  outline: none;
}

.login--div {
  transition: 400ms;
  position: relative;
  left: -100%;
  top: -70px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  font-size: 28px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-weight: 500;
}
#logoImg {
  width: 30%;
  position: relative;
  top: 10px;
}
/* Heading  */

.headingOne {
  position: relative;
  top: 190px;
  opacity: 1;
  font-size: 220px;
  letter-spacing: 5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.829);
  text-shadow: 3px 3px 3px rgb(0, 132, 255);
}

.heading--section {
  background-color: white;
  background-image: url(https://dw9to29mmj727.cloudfront.net/promo/2016/5336-SeriesHeaders_Tier01_Magic_2000x800.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Container for cards */

.container {
  position: relative;
  top: -110px;
  padding-top: 25px;
  height: 0vh;
  border-radius: 10px;
  opacity: 0;
  /* overflow: auto; */
  overflow-y: visible;
  overflow-x: hidden;
  width: 100%;
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgb(0, 0, 0);
  background: linear-gradient(121deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  transition: 1s;
}
#common {
  color: rgb(0, 0, 0);
}
#uncommon {
  color: rgb(150, 150, 150);
}

#rare {
  color: rgb(241, 168, 57);
}

#mythic {
  color: rgb(255, 60, 0);
}

/* Search divs and buttons inside them */
.search--div {
  width: 250px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 0px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
}

.searchBtnsAll {
  top: -30px;
  width: 50;
}

.btnSearch {
  width: 150px;
  height: 22px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin: 20px;
  position: relative;
  top: 15px;
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
}

.btnSearch:hover {
  cursor: pointer;
  color: rgb(255, 0, 0);
}

/* Sections */

.section--2 {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  opacity: 0;
  transition: 0.4s;
  position: relative;
  top: -65px;
  left: -100%;
  background-color: #00000059;
}

.section--3 {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
  width: 100%;

  height: 100vh;
}

/* Section 3 */
.footer--one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -245px;
  transition: 1s;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  background-image: url(https://i.pinimg.com/originals/67/36/92/673692cc66ae5e721b0b58edfe2db571.jpg);
  background-size: cover;
  background-position: center;
  transition-timing-function: ease-out;
}

/* Cards */

.card:hover {
  cursor: pointer;
}

/* Show buttons, show all and show favorite cards */

.showBtns {
  width: 150px;
  height: 25px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.664);
  color: white;
}

.showBtns:hover {
  background-color: rgba(255, 255, 255, 0.747);
  cursor: pointer;
  color: black;
}

/* Class for images(cards ) and buttons for them*/
.image {
  width: 230px;
  height: 300px;
  transition: 500ms;
}

.card {
  position: relative;
  left: -5px;
  width: 230px;
  transition: 500ms;
  height: 300px;
  margin-right: 25px;
  margin-bottom: 75px;
}

.card:hover {
  opacity: 1;
  transform: skewY(7deg);
}
.image:hover {
  opacity: 1;
  transform: skewY(3deg);
}

.del {
  width: 25px;
  position: relative;
  left: 200px;
  top: -310px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cardBtn {
  background-color: #000000;
  color: white;

  outline: none;
  transition: 500ms;
}

.cardBtn:hover {
  background-color: white;
  color: #000000;
  cursor: pointer;
}

.favorite {
  position: relative;
  left: 125px;
  top: -310px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* ************ */

/* First image and card in it */
.cardBackImg {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 319px;
  background-image: url(/imgs/2.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 229px;
  transform: skewY(6.7deg);
  transition: 1s;
  -webkit-box-shadow: 0px 0px 10px 6px #ffffff;
  box-shadow: 0px 0px 10px 6px #ffffff;
  border: 1px solid silver;
  background-color: black;
  position: relative;
  top: 100px;
}

.cardTextAbout {
  position: relative;
  top: -170px;
  text-align: center;
  width: 50%;
  font-size: 22px;
  transform: skewY(8deg);
  opacity: 0;
  transition: 1s;
  color: #ffffff;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px;
}

.cardTextAbout:hover {
  cursor: pointer;
  opacity: 1;
  transform: skewY(0deg);
}

.cardBackImg:hover {
  cursor: pointer;
  position: relative;
  transform: rotateX(20deg);
  transform: rotateY(10deg);
  opacity: 0.8;
}

/* --------------------------------------------------- */

/* Scrollbars */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(184, 184, 184, 0.658);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(87, 87, 87);
}

/* Class hidden for hiding objects */
.hidden {
  display: none;
}

/* Thank you message on the end and my name */

.thankYouMessage {
  position: relative;
  bottom: -360px;
  text-align: center;
  width: 40%;
  font-weight: 400;
  font-size: 21px;
  transition: 500ms;
  font-style: italic;
  color: rgb(255, 255, 255);
}

#mySing {
  position: relative;
  top: 10px;
  font-size: 26px;
  color: rgb(255, 0, 0);
  font-style: italic;
}
/* ----------------  */

.cardImageBig {
  position: relative;
  left: 122px;
  width: 100px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  outline: none;
  height: 25px;
  bottom: 15px;
  border: none;
  transition: 500ms;
  border: 1px solid silver;
}

.cardImageBig:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* ----------- */
/* Smooth scroll on page */

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Slider buttons */
.pageButtons {
  position: relative;
  top: -130px;
  left: -100%;
  width: 40px;
  height: 40px;
  transition: 500ms;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  margin-bottom: 5px;
  color: white;
  font-size: 22px;
}
.pageBtnDiv {
  position: relative;
  left: 0;
  opacity: 1;
}

.pageButtons:hover {
  cursor: pointer;
}
.next {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(0, 132, 255, 0.747);
}
.previous {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(255, 30, 0, 0.815);
}
.next:hover {
  background-color: rgba(0, 132, 255, 1);
}
.previous:hover {
  background-color: rgba(255, 30, 0);
}

.show {
  margin-top: 25px;
  position: relative;
  left: -200%;
  transition: 500ms;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.76);
  color: black;
}

.show:hover {
  color: rgb(4, 0, 255);
}
/* ----------------------------- */

#cardsModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: 500ms;
  opacity: 0;
}

/* Modal Content */
.modal--cards {
  overflow: auto;
  overflow-x: hidden;
  font-size: 20px;
  position: relative;
  top: 100px;
  background-color: #000000ec;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 350px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(165, 165, 165, 0.2),
    0 6px 20px 0 rgba(155, 155, 155, 0.19);
}

.closeCardsModal {
  color: rgb(255, 255, 255);
  position: relative;
  right: -305px;
  top: -10px;
  font-size: 40px;
  font-weight: 700;
}

.closeCardsModal:hover,
.closeCardsModal:focus {
  color: rgb(156, 156, 156);
  text-decoration: none;
  cursor: pointer;
}

.paragrafCards {
  top: -50px;
  margin-top: 20px;
  position: relative;
  text-align: center;
}
.cardType {
  color: rgb(0, 214, 64);
  font-size: 22px;
}
.cardName {
  color: red;
  font-size: 25px;
}
.cardSet {
  color: rgb(255, 255, 255);
}
.cardOriginalText {
  color: rgb(212, 212, 212);
  padding: 15px;
  font-size: 19px;
}
.cardRarity {
  color: yellow;
  font-size: 35px;
}

.cardArtist {
  font-style: italic;
  font-size: 17px;
  color: #3498db;
}

/* --------------------------------------------------------------------- */

.create--btn {
  width: 200px;
  position: relative;
  top: 20px;
  height: 21px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  background-color: rgba(0, 132, 255, 0.747);
  color: white;
  opacity: 1;
}

.create--btn:hover {
  background-color: rgba(0, 132, 255, 0.747);
  border: 1px solid white;
  cursor: pointer;
}

/* Modal for login */

.login--btn {
  width: 200px;
  position: relative;
  top: 20px;
  height: 21px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 17px;
  font-weight: 600;
  transition: 500ms;
  background-color: rgba(0, 132, 255, 0.747);
  color: white;
  opacity: 1;
}

.login--btn:hover {
  background-color: rgb(0, 132, 255);
  border: 1px solid white;
  cursor: pointer;
}

/* Welcome msg that slides in */
.welcomeMsg {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  right: 100%;
  top: -180px;
  transition: 600ms;
  color: rgb(253, 1, 1);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* !!!!!!!!! this I have to change !!!!!!!!!!!!!!!!! */
.btnModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  transition: 500ms;
  margin-top: 25px;
  background-color: rgba(0, 132, 255, 0.747);
  color: rgb(255, 255, 255);
  position: relative;
  top: 250px;
  left: 0;
  letter-spacing: 1px;
}
.btnModal2 {
  width: 200px;
  height: 23px;
  outline: none;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  transition: 500ms;
  margin-top: 25px;
  background-color: rgba(255, 30, 0, 0.747);
  color: white;
  position: relative;
  top: 0px;
  left: 0;
  letter-spacing: 1px;
}

.btnModal:hover {
  background-color: rgb(0, 132, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid white;
}

.btnModal2:hover {
  background-color: rgb(255, 30, 0, 1);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
}

/* Last big image section */
.section--4 {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0px;
  transition: 1s;
  opacity: 1;
  transform: skewY(-7deg);
  background-color: rgb(255, 255, 255);
  background-image: url(https://images.wallpapersden.com/image/download/aurelia-magic-the-gathering_bGVqbWeUmZqaraWkpJRmbmdlrWZnZWU.jpg);
  background-size: cover;
  background-position: center;
}
.textBetweenImgs {
  text-align: center;
  position: relative;
  top: -120px;
  display: inline;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: italic;
  color: #ffffff;
  text-shadow: 2px 2px 2px#0066ff;
}

.testimonials {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 319px;
  background-image: url(https://www.celjaded.com/wp-content/uploads/2017/11/CelJaded-Magic-The-Gathering-Card-Phyrexian-Obliterator.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 229px;
  transform: skewY(-2deg);
  transition: 1s;
  -webkit-box-shadow: 0px 0px 10px 6px #ffffff;
  box-shadow: 0px 0px 10px 6px #ffffff;
  /* background-color: rgb(0, 0, 0); */
  top: 0px;
  position: relative;
}

.testimonials:hover {
  cursor: pointer;
  position: relative;
  transform: skewY(7deg);
  opacity: 0.9;
}

/* To page icon */
#topPageImg {
  width: 50px;
  height: 40px;
  position: relative;
  bottom: -50px;
  transition: 300ms;
}

.container-p {
  font-size: 35px;
  color: #000000;
  text-align: center;
}
.gitHub {
  background-color: black;
}

#topPageImg:hover {
  transform: scaleY(1.1);
}

/* Close inputs for login and create */
.close {
  position: relative;
  top: 20px;
  transition: 500ms;
}

.close:hover {
  color: silver;
  cursor: pointer;
}

/* Spinner wheel */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#closeSearch {
  background-color: rgba(136, 136, 136, 0.76);
  color: rgb(255, 255, 255);
}
#closeSearch:hover {
  background-color: rgba(255, 255, 255, 0.685);
  color: rgb(0, 0, 0);
}
.closeSearchBtn {
  height: 20px;
}

/* ----------------------------------------------- */
@media (max-width: 900px) {
  .section--2 {
    /* background-color: rgba(0, 0, 0, 0); */
    top: -45px;
  }
  .left-side {
    top: -10px;
  }
  .right-side {
    top: -10px;
  }
  .cardTextAbout {
    width: 80%;
    font-size: 21px;
  }
  .textBetweenImgs {
    font-size: 60px;
  }
  .thankYouMessage {
    width: 90%;
    font-size: 20px;
  }

  #logout {
    margin-left: 10px;
  }
  .welcomeMsg {
    font-size: 35px;
    text-align: center;
  }
  .searchOptionBtn {
    top: 10px;
  }
  .createAcc--div {
    top: 80px;
  }
  .createAcc--div {
    top: 110px;
    width: 200px;
  }
  .login--div {
    top: -50px;
    width: 200px;
  }
  .nav--ul {
    margin-right: 0;
    padding: 0;
  }

  .nav--li {
    margin-left: 10px;
  }

  .headingOne {
    font-size: 190px;
    letter-spacing: 5px;
  }
  .closeSearchBtn {
    position: relative;
    top: -30px;
  }
}

@media (max-width: 770px) {
  #logoutImg {
    width: 105%;
    left: 5px;
  }
}

@media (max-width: 690px) {
  .section--2 {
    flex-direction: column;
    justify-content: space-between;
  }
  .btnSearch {
    top: -10px;
  }
  .left-side {
    display: flex;
    flex-direction: row;
    left: 0px;
    top: 5px;
    height: 75%;
  }
  .searchByName {
    top: 0;
    height: 75%;
  }
  .searchBySet {
    top: 0;
    height: 75%;
  }
  .searchByRarity {
    top: 0;
    height: 75%;
  }

  .right-side {
    display: flex;
    flex-direction: row;
    right: 0px;
    top: -65px;
    height: 100px;
  }
  .pageBtnDiv {
    position: relative;
    top: 20px;
  }
  .searchBtnsAll {
    height: 50px;
    width: 50px;
  }
  .closeSearchBtn {
    position: relative;
    top: 22px;
    left: 125px;
  }
  .showAll {
    position: relative;
    top: 83px;
    left: -125px;
  }
  .show {
    top: -100px;
  }
}

@media (max-width: 570px) {
  .textBetweenImgs {
    font-size: 40px;
  }
  .heading--section {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .logo {
    margin-left: 15px;
  }
  #logoImg {
    width: 35%;
  }
  .burger {
    margin-right: 15px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    margin: 0 0 4px;
    width: 25px;
    height: 5px;
  }
  .card {
    left: 17px;
  }
  .close {
    top: -50px;
  }
  body {
    background-size: cover;
    min-height: 500vh;
  }

  .cardTextAbout {
    width: 100%;
    font-size: 19px;
  }

  .login--div {
    top: -50px;
  }

  .thankYouMessage {
    width: 100%;
    font-size: 19px;
  }

  .headingOne {
    font-size: 150px;
    letter-spacing: 0;
    position: relative;
    top: 140px;
  }
  .search--div {
    color: white;
    font-size: 20px;
  }
  .showBtns {
    background-color: rgba(0, 0, 0, 0.671);
    color: rgb(0, 57, 243);
  }
  .showBtns:hover {
    background-color: rgba(0, 0, 0, 0.671);
    color: rgb(255, 255, 255);
  }

  .searchOptionBtn {
    top: 34px;
  }

  .btnSearch {
    position: relative;
    color: rgb(0, 132, 255);
  }
  .modal-content {
    width: 260px;
  }
  .modal-login {
    width: 260px;
  }
  .closeLogin {
    left: 110px;
  }
  .footer--one {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .close {
    left: 110px;
  }
  .show {
    top: -85px;
  }
  .section--2 {
    background-color: rgba(0, 0, 0, 0);
  }
  .btnModal {
    top: 250px;
    height: 23px;
  }
}
@media (max-width: 490px) {
  .show {
    top: -50px;
  }
  .searchByRarity {
    top: 0px;
  }
  .searchBtnsAll {
    width: 10px;
  }
  .left-side {
    height: 70px;
    top: 30px;
  }
  .searchByName {
    width: 70%;
  }
  .searchBySet {
    width: 70%;
  }
  .searchByRarity {
    width: 70%;
  }
  .right-side {
    height: 70px;
    top: -65px;
  }
  .btnSearch {
    width: 140px;
  }
  .previous {
    font-size: 16px;
    height: 30px;
    width: 30px;
  }
  .next {
    font-size: 16px;
    height: 30px;
    width: 30px;
  }
  #search--colors {
    width: 140px;
  }
  #search--type {
    width: 140px;
  }
  #search--name {
    width: 140px;
  }
  #search--set {
    width: 140px;
  }
  .closeSearchBtn {
    position: relative;
    top: 42px;
    left: 100px;
    width: 120px;
    font-size: 16px;
  }
  .showAll {
    position: relative;
    top: 100px;
    left: -100px;
    width: 120px;
    font-size: 16px;
  }
}
@media (max-width: 430px) {
  .showAll {
    top: 95px;
  }
  .closeSearchBtn {
    top: 35px;
  }
  .section--2 {
    top: -36px;
  }
  .searchOptionBtn {
    top: 30px;
  }
  .show {
    font-size: 16px;
    width: 140px;
    top: -50px;
  }
  .left-side {
    top: 105px;
  }
  .right-side {
    top: -155px;
  }
  #logoutImg {
    width: 150%;
  }
  #topPageImg {
    top: 100px;
  }
  .heading--section {
    background-size: cover;
  }
  .welcomeMsg {
    font-size: 28px;
  }
  .nav--li {
    margin-left: 0px;
  }
  #logout {
    position: relative;
    right: 10px;
    margin-right: 5px;
  }
  .modal-about {
    height: 350px;
  }
  .headingOne {
    font-size: 130px;
  }
  #logoImg {
    width: 40%;
  }
}

@media (max-width: 350px) {
  .cardTextAbout {
    width: 100%;
    font-size: 17px;
  }
  .headingOne {
    font-size: 100px;
  }
  #topPageImg {
    top: 30px;
  }
  #logoImg {
    width: 50%;
  }
  .btnSearch {
    width: 100px;
  }
  .colors--btn {
    width: 100px;
  }
  .previous {
    font-size: 16px;
    height: 30px;
    width: 30px;
  }
  .next {
    font-size: 16px;
    height: 30px;
    width: 30px;
  }
  #search--colors {
    width: 100px;
  }
  #search--type {
    width: 100px;
  }
  #search--name {
    width: 100px;
  }
  #search--set {
    width: 100px;
  }
  .closeSearchBtn {
    position: relative;
    top: 33px;
    left: 90px;
    width: 100px;
    font-size: 15px;
  }
  .showAll {
    position: relative;
    top: 93px;
    left: -90px;
    width: 100px;
    font-size: 15px;
  }
}
